body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.number {
    float: right;
}

ul.menubar-right {
    margin-top:    10px;
    padding-right: 60px;
}

ul.menubar-right li {
    margin-top:  5px;
    margin-left: 10px;
}
